PyQt6==6.7.0
opencv-python==4.9.0.80 
pywin32==306
pytesseract==0.3.10
requests==2.32.2
imutils==0.5.4
keyboard==0.13.5
ultralytics==8.2.15
wmi==1.5.1
onnx
onnxruntime
git+https://github.com/z3ntu/QtWaitingSpinner.git